/*ResultTable.css*/
table {
    width: 70%;
    border-collapse: separate;
    border-spacing: 0;
    border: 10px solid #e44d1f;
    border-radius: 2rem;
    overflow: hidden;
    margin: 20px auto;
}


th, td {
    
    padding: 8px;
    text-align: center;
}
th {
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 20px 8px;
    font-weight: bold;
}
.arrow {
    font-size: 14px;
}
.chart-link {
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: #e44d1f;
}